<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>455177168914-p788en07rvuumk36tu45hkt6cgbebik5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.455177168914-p788en07rvuumk36tu45hkt6cgbebik5</string>
	<key>API_KEY</key>
	<string>AIzaSyAnop-qDa3PSvqERlVjYM16FxOV3EgjmBA</string>
	<key>GCM_SENDER_ID</key>
	<string>455177168914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mFlashChat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-b8d85</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-b8d85.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:455177168914:ios:560d71119b2a2307ae10cb</string>
	<key>DATABASE_URL</key>
	<string>https://flashchat-b8d85.firebaseio.com</string>
</dict>
</plist>