<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>467358533407-l9mv5hlml22m039dcfgjlugtnb5ru47k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.467358533407-l9mv5hlml22m039dcfgjlugtnb5ru47k</string>
	<key>API_KEY</key>
	<string>AIzaSyAZe0oG--JzcfrHSzVl4wF1Sjz37Zqr30Q</string>
	<key>GCM_SENDER_ID</key>
	<string>467358533407</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mFlashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-d55b7</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-d55b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:467358533407:ios:eed4b8a1b7195fa8a3122a</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-d55b7.firebaseio.com</string>
</dict>
</plist>